:root {
    --main-bg-color: white;
    --grid-color: #d6d6d6;
    --link-color: black;
}

.item1 {
    grid-area: header;
    height: 70px;
    background: var(--main-bg-color);
    font-size: 25px;
    font-family: "Architects Daughter", cursive;

    min-width: 500px;
}

.item2 { 
    grid-area: section5;
    height: 70px;
    background: var(--main-bg-color);
}

.item3 {
    height: 640px;
    grid-area: main;
    background: var(--main-bg-color);

    min-width: 200px;
}

.item4 {
    grid-area: left;
    background: var(--main-bg-color);
    height: 640px;
    width: 300px;
}

.item5 {
    grid-area: right;
    background: var(--main-bg-color);
    height: 765px;
    width: 300px;
}

.item6 {
    background: var(--main-bg-color);
    grid-area: footer;
    height: 70px;
}

@media only screen and (max-width: 900px) { 
    #stl { 
      display: none; 
    } 
    #hr-logo-first {
        display: none;
    }
    #hr-logo-second {
        display: none;
    }
  }

.text-main {
    font-size: 15px;
}

p {
    font-size: 15px;
}

.grid-container {
    display: grid;
    height: auto;
    grid-template-areas:
        "header header header header"
        "left main main right"
        "section5 section5 section5 right"
        "footer footer footer footer";
    grid-gap: 10px;
    background-color: var(--grid-color);
    padding: 10px;
    font-size: 15px;
    font-family: Courier, serif;
}

.border-div {
    border: 2px dotted;

    overflow: hidden;
    overflow-y: scroll;
}

.grid-container > div {
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.link-to-smth {
    text-decoration: none;
    color: var(--link-color);
}

#home {
    position: absolute;
    right: 450px;
    top: 25px;
    width: 60px;
    height: 50px;
}

#contact {
    position: absolute;
    right: 330px;
    top: 25px;
    width: 40px;
    height: 50px;
}

#items {
    position: absolute;
    right: 160px;
    top: 25px;
    width: 30px;
    height: 50px;
}

#stl {
    position: absolute;
    left: 100px;
    top: 19px;
}

#hr-logo-first {
    position: absolute;
    width: 200px;
    left: 100px;
    top: 25px;
    transform: rotate(-7deg);
}

#hr-logo-second {
    position: absolute;
    width: 200px;
    left: 100px;
    top: 25px;
    transform: rotate(7deg);
}

#slogan {
    left: 100px;
    bottom: 10px;
    font-size: 20px;
    font-family: "Architects Daughter", cursive;
}

.for-ol {
    padding-left: 50px;
}

#second {
    padding-top: 30px;
}
#third {
    padding-top: 60px;
}
#fourth {
    padding-top: 90px;
}
#fifth {
    padding-top: 120px;
}

#smile {
    position: absolute;
    top: 250px;
    right: 80px;
}
